# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Built files
dist/
build/
*.out

# Dependency directories
vendor/

# IDE files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db
